QWidget {
    background-color: #f5f5f5;
}

QListWidget {
    background-color: #2c3e50;
    color: white;
    font-size: 14px;
    padding: 10px;
}

QLabel {
    font-size: 14px;
    font-weight: bold;
    color: #333;
}

#inputField {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 12px;
}

QPushButton {
    padding: 8px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
	background-color: green;
}

#actionButton {
    background-color: #008CBA;
    color: white;
}

#deleteButton {
    background-color: #f44336;
    color: white;
}


QDialog {
    background-color: white;
    border-radius: 10px;
    padding: 15px;
}

#titleLabel {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
}




#addButton {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    padding: 8px;
    border-radius: 5px;
}

#openPopupButton {
    background-color: #008CBA;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 5px;
}






QTableWidget QHeaderView::section {
    background-color: #ddd;
    padding: 5px;
    font-weight: bold;
    border: none;
}




#saveButton {
    background-color: #008CBA;
    color: white;
    font-weight: bold;
}

